Options +FollowSymLinks -Indexes
# Prevent direct access to certain files
<FilesMatch ^(composer\.(json|lock)$)$>
    Deny from all
</FilesMatch> 
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule ^(.*/)*\.git/ / [F,L]

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteCond %{SERVER_PORT} !^443$
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>
